<div class="container-fluid cor-bg" style="width: auto;">
  <div class="container d-flex justify-content-center cor-bg">
    <div class="row">
      <div class="col-md-8">
        <form>
        <div class="form-group mb-3 mt-3 text-white">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="nome" placeholder="Seu nome" required>
        </div>
        <div class="form-group mb-3 text-white">
          <label for="usuario">E-mail</label>
          <input type="text" class="form-control " name="email" id="email" placeholder="Seu e-mail" required>
        </div>
        <div class="form-group mb-3 text-white">
          <div><label for="comentario">Comentário</label></div>
          <textarea name="assunto" id="assunto" cols="101" rows="4" onkeyup="validaAssunto()" required></textarea></div>
          <div id="txtAssunto">
          <div class="d-flex justify-content-center mt-0 p-3">
            <button type="submit" class="btn btn-success" type="submit">Enviar</button>
          </div>
        </div>
      </form>
      </div>


      <div class="col-md-4 mt-4">
        <ul style="list-style:none">
          <li>
            <h4 class="text-white">Email <i class="fa fa-envelope" aria-hidden="true"></i></h4>
            <h5 class="text-white">lifelearning@lemelsource.com</h5>
          </li>
          <li>
            <h4 class="text-white">Telefone <i class="fa fa-phone" aria-hidden="true"> </i></h4>
            <h5 class="text-white">(11) 991201422 </h5>
          </li>
          <li>
            <h4 class="text-white">Endereço <i class="fa fa-map-marker" aria-hidden="true"></i> </h4>
            <h5 class="text-white">Av. Brg. Faria Lima, 3477 - Itaim Bibi, São Paulo - SP, 04538-133</h5>
          </li>
          <li>
            <h4 class="text-white">Redes sociais</h4>
          </li>
          <ul class="social-network text-white">
            <li>
              <a href="" target="_blank" class="icoFacebook text-white">  <i class="fab fa-facebook-square"></i> </a>
            </li>

            <li>
              <a href="https://github.com/LB-Okami/Life-Learnig_Front" target="_blank" class="icoGithub text-white">  <i class="fab fa-github-alt"></i> </a>
            </li>

            <li>
              <a href="" target="_blank" class="icoLinkedin text-white">  <i class="fab fa-linkedin"></i> </a>
            </li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>
