<div class="container-fluid cor-nav">
  <nav class="navbar navbar-expand-lg m-0 p-0" id="nav">
    <a class="navbar-brand" href="#"><img src="../../assets/logo-home.png" alt="" style="height: 60px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
      aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link mr-2 text-dark" href="#" style="font-size: 18px; font-weight: bold;">Home<span
              class="sr-only">(página atual)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-2 text-dark" routerLink='/logar' style="font-size: 18px; font-weight: bold;">Entrar</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="jumbotron jumbotron-fluid background-nav m-0">
   
  <div class="container mr-5 d-flex">
        <div> 
            <h1 class="display-4 font-weight-bold display-4 color-txt text-white">QUEM SOMOS</h1>
     
            <p class="lead font-weight-bold text-light">Conheça a equipe fundadora de Life Learning e se conecte conosco!</p>
        </div>
    
  </div>
</div>


    <div class="background">

  <div class="container1 ">
</div>
  <div class="container1 mt-4 ">
    <div class= "p-20">
        <img class= "tm-img" src="https://i.imgur.com/WZNdFhY.jpg">
    </div>
    
    <div class= "p-20"> 
        <h2 class="font-weight-bold color-txt">Emilly Braga:</h2>
        <br>
        <p class = "p1"> Nascida em Itapecerica da Serra, São Paulo. 
           Apaixonada por tecnologia aos 18 anos. Sou uma pessoa extremamente motivada e busco estar em constante evolução de habilidades técnicas e comportamentais. Possuo uma notável facilidade em comunicação e criatividade. Persistência é meu ponto forte. </p>
         <p>Desde criança sempre fui muito curiosa, sonhadora, criativa e determinada, enxergo cada uma dessas características em  quem sou hoje e na aréa que escolhi: tecnologia.</p>
  </div>
</div>

<div class="container1 mt-5">
     
      <div class= "p-20"> 
        <h2 class="font-weight-bold color-txt">Matheus Silva:</h2>
        <br>
      <p class = "p1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti blanditiis distinctio molestiae beatae ex aspernatur recusandae, quibusdam, laboriosam velit sunt commodi quam. Magni neque nostrum velit natus unde numquam omnis?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti blanditiis distinctio molestiae beatae ex aspernatur recusandae, quibusdam, laboriosam velit sunt commodi quam. Magni neque nostrum velit natus unde numquam omnis?</p>
      </div>
      
      <div class= "p-20">
        <img class= "tm-img" src="https://i.imgur.com/95ilgVs.jpg">
      </div>

</div>

<div class="container1 mt-5">
     
    <div class= "p-20">
        <img class= "tm-img" src="https://i.imgur.com/NlSdne7.jpg">
      </div>

    <div class= "p-20 mt-5"> 
        <h2 class="font-weight-bold color-txt">Eliabe Costa:</h2>
        <br>
    <p class = "p1">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti blanditiis distinctio molestiae beatae ex aspernatur recusandae, quibusdam, laboriosam velit sunt commodi quam. Magni neque nostrum velit natus unde numquam omnis?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti blanditiis distinctio molestiae beatae ex aspernatur recusandae, quibusdam, laboriosam velit sunt commodi quam. Magni neque nostrum velit natus unde numquam omnis?</p>
    </div>

</div>

<div class="container1 mt-5">

    <div class= "p-20 mt-5 mb-5"> 
        <h2 class="font-weight-bold color-txt">Livia Lima:</h2>
        <br>
    <p class = "p1">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti blanditiis distinctio molestiae beatae ex aspernatur recusandae, quibusdam, laboriosam velit sunt commodi quam. Magni neque nostrum velit natus unde numquam omnis?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti blanditiis distinctio molestiae beatae ex aspernatur recusandae, quibusdam, laboriosam velit sunt commodi quam. Magni neque nostrum velit natus unde numquam omnis?</p>
    </div>
    
    <div class= "p-20">
        <img class= "tm-img" src="https://i.imgur.com/PagMagr.jpg">
      </div>

</div>

<div class="container1 mt-5">

    <div class= "p-20">
        <img class= "tm-img" src="https://i.imgur.com/mctPCSw.jpg">
      </div>

    <div class= "p-20 mt-5"> 
        <h2 class="font-weight-bold color-txt">Lucas Buzo:</h2>
        <br>
    <p class = "p1">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti blanditiis distinctio molestiae beatae ex aspernatur recusandae, quibusdam, laboriosam velit sunt commodi quam. Magni neque nostrum velit natus unde numquam omnis?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti blanditiis distinctio molestiae beatae ex aspernatur recusandae, quibusdam, laboriosam velit sunt commodi quam. Magni neque nostrum velit natus unde numquam omnis?</p>
    </div>

</div>
</div>