<div class="container-fluid cor-nav">
  <nav class="navbar navbar-expand-lg m-0 p-0" id="nav">
    <a class="navbar-brand" href="#"><img src="../../assets/logo-home.png" alt="" style="height: 60px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link mr-2 text-dark" href="#" style="font-size: 18px; font-weight: bold;">Home<span
          class="sr-only">(página atual)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-2 text-dark" routerLink='/logar' style="font-size: 18px; font-weight: bold;">Entrar</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="jumbotron jumbotron-fluid background-nav m-0">

  <div class="container mr-5 d-flex">
    <div>
      <h1 class="display-4 font-weight-bold display-4 color-txt text-white">QUEM SOMOS</h1>

      <p class="lead font-weight-bold text-light">Conheça a equipe fundadora de Life Learning e se conecte conosco!</p>
    </div>

  </div>
</div>


<div class="background">

  <div class="container1 ">
  </div>
  <div class="container1 mt-4 ">
    <div class= "p-20">
      <img class= "tm-img" src="https://i.imgur.com/WZNdFhY.jpg">
    </div>

    <div class= "p-20">
      <h2 class="font-weight-bold color-txt">Emilly Braga:</h2>
      <br>
      <p class = "p1"> Nascida em Itapecerica da Serra, São Paulo.
        Apaixonada por tecnologia aos 18 anos. Sou uma pessoa extremamente motivada e busco estar em constante evolução de habilidades técnicas e comportamentais. Possuo uma notável facilidade em comunicação e criatividade. Persistência é meu ponto forte. </p>
        <p>Desde criança sempre fui muito curiosa, sonhadora, criativa e determinada, enxergo cada uma dessas características em  quem sou hoje e na aréa que escolhi: tecnologia.</p>
      </div>
    </div>

    <div class="container1 mt-5">

      <div class= "p-20">
        <h2 class="font-weight-bold color-txt">Matheus Silva:</h2>
        <br>
        <p class = "p1">
          Sonhador e pé no chão. Formado pela Generation Brasil, desenvolvedor Full Stack Java Jr e novo entusiasta da tecnologia.  Já atuei em diversas áreas e com as diferentes experiências pude desenvolver muitas habilidades técnicas e comportamentais.  Como alguém que esteve durante anos imerso nas ciências humanas, nunca imaginei que pudesse chegar tão longe em  um tempo tão curto migrando para tecnologia, mas olhando hoje para os resultados, me sinto extremamente grato e feliz por ter embarcado nessa mudança que só me  trouxe ganhos, e sei que minha jornada está só começando.
        </p>
      </div>

      <div class= "p-20">
        <img class= "tm-img" src="https://i.imgur.com/95ilgVs.jpg">
      </div>

    </div>

<div class="container1 mt-5">

  <div class= "p-20">
      <img class= "tm-img" src="https://i.imgur.com/BeIkHGL.jpg">
    </div>

  <div class= "p-20 mt-5">
      <h2 class="font-weight-bold color-txt">Eliabe Costa:</h2>
      <br>
  <p class = "p1">
    Sou um aluno entusiasta em tecnologia, para mim é importante estar sempre se atualizando e aprendendo coisas novas. Formado em Gestão Financeira sou apaixonado por finanças, e hoje estou me desenvolvendo também na tecnologia, sou uma pessoa que gosta de exercer a criatividade para resolução de problemas.</p>
  <p>Atualmente sou desenvolvedor web java júnior full stack em formação, tenho aprendido importantes ferramentas para desenvolvimento web, desde lógica de programação, MySQL em banco de dados, Spring boot framework em back-end, e até Angular em front-end.</p>
  <p>Minha motivação para seguir crescendo nessa área é a possibilidade de resolver problemas da sociedade através de soluções tecnológicas, ajudando a melhorar a vida das pessoas. Gosto da ideia de expandir horizontes através do conhecimento, isso é o que me move.</p>
  </div>

</div>

      <div class="container1 mt-5">

        <div class= "p-20 mt-5 mb-5">
          <h2 class="font-weight-bold color-txt">Lívia Lima:</h2>
          <br>
          <p class = "p1">
            De Fortaleza-Ceará para São Paulo, sempre procurei um trabalho que expressasse meus gostos e tive o prazer de cursar Rádio e TV e me formar, ainda não completamente satisfeita com minha formação continuei procurando sobre cursos que me agradassem e cursei online tanto moda como línguas estrangeiras. Entre meus amigos sempre tive amigos  que trabalharam na área de programação e através deles tive o interesse de procurar mais sobre o assunto. Me surgiu a oportunidade de cursar o Full Stack de desenvolvedor da Generation Brasil e me inscrevi, agora com mais uma formação no meu currículo sinto que posso continuar crescendo no meu desenvolvimento pessoal e de conhecimento.
          </p>
        </div>

        <div class= "p-20">
          <img class= "tm-img" src="https://i.imgur.com/PagMagr.jpg">
        </div>

      </div>

      <div class="container1 mt-5">

        <div class= "p-20">
          <img class= "tm-img" src="https://i.imgur.com/mctPCSw.jpg">
        </div>

        <div class= "p-20 mt-5">
          <h2 class="font-weight-bold color-txt">Lucas Buzo:</h2>
          <br>
          <p class = "p1">
            Sou amante de tecnologia desde pequeno, sou desenvolvedor web e estudante autodidata, comecei me interessando por desenvolvimento de sites e a estudar a trindade web (HTML5, CSS3, JavaScript) juntamente com algumas tecnologias back-end (Java, MySQL, Spring), assim desenvolvi diversos projetos próprios e estou sempre em constante aprendizado.
          </p>
          <p>
            Deixando de lado meu lado técnico, eu passo a maior parte do meu tempo livre jogando, vendo séries/filmes e vendo vídeos sobre tecnologia, costumo ver estudar sobre astronomia e as missões atuais visando a exploração em Marte e as novas estações espaciais, também sou um entusiasta das inteligências artificiais e sempre me fascino vendo como evoluem rápido e imagino as possibilidades infinitas que podem trazer.
          </p>
        </div>

      </div>
    </div>
