#bg-color{
    background-image: url('https://i.imgur.com/ThrcTi4.png');
    background-size:100vh;
    min-height: 100vh;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.color-font{
    color: rgb(66, 161, 125);
}



.margem{
    margin-top: 100px;
}

.form-group{
    background-color: transparent;
}

#card{
    background-color: #ffffff99;
}

.auto-left{
    margin: auto;
}



