.cor-nav{
background-color: transparent;
}

.cor-fundo {
    background-image: url(https://i.imgur.com/5ujbc6E.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form-group{
    background-color: transparent;
    background-color: #ffffffec;
}

#nav-ul {
    list-style: none;
}

.containerEsq {
    margin-left: 18px;
}

.sobreNos {
   background-color: white;
    border-radius: 80px;
}

.shadow {
    text-shadow: 0.1em 0.1em 0.2em rgb(0, 12, 11)
}

.shadow-body {
    text-shadow: 0.1em 0.1em 0.2em rgb(255, 255, 255)
}

.nav-link {
    color: white;
}

a:link {
    text-decoration: none;
}

.sb {
    height: 450px;
    width: 450px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    /* sombreamento das imagens */
}
