<header class="cor-fundo">
  <div class="container-fluid cor-nav">
    <nav class="navbar navbar-expand-lg m-0 p-0" id="nav">
      <a class="navbar-brand" href="#"><img src="../../assets/logo-home.png" alt="" style="height: 60px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link mr-2" href="#" style="font-size: 18px; font-weight: bold;">Home<span
                class="sr-only">(página atual)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mr-2" routerLink='/logar' style="font-size: 18px; font-weight: bold;">Entrar</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>


  <body class=" cor-fundo">
    <div class="container p-0 d-flex justify-content-center">
      <div class="row">
        <div class="col-md-12 mt-5 d-flex align-items-center">
          <h1>SOBRE A LIFE LEARNING</h1>
        </div>
      </div>
    </div>

    <div class="container p-5 mt-5">
      <div class="row">
        <div class="col-md-6">
          <img class="sb" src="../../assets/grupo-avatar.png" alt="foto de um grupo de amigos sentados e conversando">
        </div>
        <div class="col-md-6 d-flex align-items-center" style="font-size: 16pt;">
          <p class="shadow-body">Somos uma iniciativa da Lemel Source, nascemos para atuar incisivamente no 4º ODS da ONU
            que é Educação de Qualidade, nosso foco é garantir o acesso à educação inclusiva, de qualidade e equitativa,
            promovendo oportunidades de aprendizagem ao longo da vida para todos.</p>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-6 d-flex align-items-center" style="font-size: 16pt;">
          <p class="shadow-body mr-5">A Life Learning nasceu para ajudar a solucionar uma das pautas do ODS Educação de
            Qualidade, queremos democratizar conhecimentos básicos de cidadania, política, finanças pessoais, entre
            outros, que hoje não estão acessíveis a todas as classes sociais.</p>
        </div>
        <div class="col-md-6">
          <img class="sb" src="../../assets/computador-avatar.png" alt="">
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-6">
          <img class="sb" src="../../assets/Online learning-bro.png" alt="">
        </div>
        <div class="col-md-6 d-flex align-items-center" style="font-size: 16pt;">
          <p class="shadow-body mr-5">Através de reflexões individuais e coletivas dos integrantes que compõe o grupo
            desenvolvedor, e pensando nas lacunas deixadas pela estrutura curricular do ensino básico atual, tivemos a
            iniciativa de criar uma plataforma em formato de rede social que reúne conteúdos educacionais relevantes
            para a formação de pessoas que convivem em sociedade, estimulando o pensamento crítico, formação de ideias e
            fortalecendo pontos que hoje são esquecidos na vida escolar da maioria da população.</p>
        </div>

      </div>

      <div class="row mt-5">
        <div class="col-md-6 d-flex align-items-center" style="font-size: 16pt;">
          <p class="shadow-body mr-5">A Life Learning traz um acervo de conteúdos gratuitos disponibilizados na internet
            por terceiros, além disso nossa rede estimula a interação entre usuários a fim de espalhar o conhecimento de
            uma forma livre, abrindo espaço para o compartilhamento de experiências e conhecimentos diversos dos
            usuários, nosso objetivo também é gerar conexões, juntar pessoas em prol da educação.</p>
        </div>
        <div class="col-md-6">
          <img class="sb" src="../../assets/Online learning-rafiki.png" alt="">
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-6">
          <img class="sb" src="../../assets/avatar-vermelho.png" alt="foto de um homem sentado na cadeira">
        </div>
        <div class="col-md-6 d-flex align-items-center" style="font-size: 16pt;">
          <p class="shadow-body mr-5">Cada vez mais a internet vem sendo utilizada corretamente como meio para disseminação e construção de informações, e essa realidade foi intensificada com a pandemia do Covid-19, onde os estudos tornaram-se remotos e a educação à distância foi potencializada. Durante esse período muitas pessoas entraram em momentos de autoconhecimento em busca de novas aprendizagens de conteúdos tidos como "básicos", porém, que transpassam nossas vidas pessoais e profissionais. A fim de dinamizar e estimular essas práticas a Life Learning traz de maneira simples e acessível materiais que estão espalhados pela internet, reunimos conteúdos de qualidade em um único lugar para facilitar o consumo para todos.</p>
        </div>

      </div>

      <a routerLink='/sobre'>
      <div class="row sobreNos mt-5">
        <div class="col-md-12 d-flex align-items-center justify-content-center mt-4 mb-4">
          <img class="mr-5" src="../../assets/logo-le.png" alt="logo da life learning">
          <h2 style="font-size: 64px; color: #ffffff; font-weight: bold;">Quem somos</h2>
         </div>
      </div>
      </a>
    </div>
  </body>
</header>