<header>
  <div class="container-fluid cor-nav">
    <nav class="navbar navbar-expand-lg m-0 p-0" id="nav">
      <a class="navbar-brand" href="#"><img src="../../assets/logo-home.png" alt="" style="height: 60px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link mr-2 text-dark" href="#" style="font-size: 18px; font-weight: bold;">Home<span
                class="sr-only">(página atual)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mr-2 text-dark" routerLink='/logar' style="font-size: 18px; font-weight: bold;">Entrar</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="cor-fundo">




  <body class=" cor-fundo">
    <div class="container p-0 d-flex justify-content-center">
      <div class="row">
        <div class="col-md-12 mt-5 d-flex align-items-center">
          <h1 class="text-white">SOBRE A LIFE LEARNING</h1>
        </div>
      </div>
    </div>

    <div class="container p-5 mt-5">
      <div class="row">
        <div class="col-md-6">



          <img class="sb" src="../../assets/grupo-avatar.png" alt="foto de um grupo de amigos sentados e conversando">
        </div>
        <div class="card col-md-6 d-flex align-items-center form-group" style="font-size: 16pt;">
          <div class="card-body d-flex align-items-center text-center">
            Somos uma iniciativa da Lemel Source, nascemos para atuar incisivamente em prol da 4º ODS da ONU:
            Educação de Qualidade. Nosso foco é garantir o acesso à educação inclusiva, de qualidade e equitativa,
            promovendo oportunidades de aprendizagem à longo prazo para todes.
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="card col-md-6 d-flex align-items-center form-group" style="font-size: 16pt;">
          <div class="card-body d-flex align-items-center text-center">A missão da Life Learning é ajudar a solucionar a causa dessa ODS. Queremos democratizar conhecimentos básicos de cidadania, política, finanças pessoais, entre
            tantos outros conteúdos, que ainda não estão acessíveis a todas as classes sociais.
            </div>
        </div>
        <div class="col-md-6">
          <img class="sb" src="../../assets/computador-avatar.png" alt="">
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-6">
          <img class="sb" src="../../assets/Online learning-bro.png" alt="">
        </div>
        <div class="card col-md-6 d-flex align-items-center form-group" style="font-size: 16pt;">
          <div class="card-body d-flex align-items-center text-center">Através de reflexões individuais e coletivas da
            equipe desenvolvedora, Lemel Source, e tendo em vista as lacunas existentes na estrutura curricular do
            ensino básico atual, fica evidente a necessidade de uma intervenção. Partindo deste ponto surgiu-se a
            proposta da criação uma plataforma em formato de rede social, que reúne conteúdos educacionais relevantes
            para a formação de pessoas que convivem em sociedade, estimulando o pensamento crítico, formação de ideias e
            fortalecendo pontos que hoje são esquecidos na trajetória escolar da maioria da população, com total
            acessibilidade por meio de cursos totalmente gratuitos.
          </div>
        </div>

      </div>

      <div class="row mt-5">
        <div class="card col-md-6 d-flex align-items-center form-group" style="font-size: 16pt;">
          <div class="card-body d-flex align-items-center text-center">A Life Learning traz um acervo de conteúdos gratuitos disponibilizados na internet
            por terceiros, além disso nossa rede estimula a interação entre usuários a fim de espalhar o conhecimento de
            uma forma livre, abrindo espaço para o compartilhamento de experiências e conhecimentos diversos dos
            usuários, nosso objetivo também é gerar conexões, juntar pessoas em prol da educação.
          </div>
        </div>
        <div class="col-md-6">
          <img class="sb" src="../../assets/Online learning-rafiki.png" alt="">
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-6">
          <img class="sb" src="../../assets/avatar-vermelho.png" alt="foto de um homem sentado na cadeira">
        </div>
        <div class="card col-md-6 d-flex align-items-center form-group" style="font-size: 16pt;">
          <div class="card-body d-flex align-items-center text-center">Cada vez mais a internet vem sendo
            utilizada corretamente como meio para disseminação e construção de informações, e essa realidade
            foi intensificada com a pandemia do Covid-19, onde os estudos tornaram-se remotos e a educação à
            distância foi potencializada. Durante esse período muitas pessoas entraram em momentos de
            autoconhecimento em busca de novas aprendizagens de conteúdos tidos como "básicos", porém, que
            transpassam nossas vidas pessoais e profissionais. A fim de dinamizar e estimular essas práticas
            a Life Learning traz de maneira simples e acessível materiais que estão espalhados pela internet,
            reunimos conteúdos de qualidade em um único lugar para facilitar o consumo para todos.
          </div>
        </div>

      </div>

      <a routerLink='/sobre'>
      <div class="row sobreNos mt-5">
        <div class="col-md-12 d-flex align-items-center justify-content-center mt-4 mb-4">
          <img class="mr-5" src="../../assets/logo-le.png" alt="logo da life learning">
          <h2 style="font-size: 64px; color: #000000; font-weight: bold;">Quem somos</h2>
         </div>
      </div>
      </a>
    </div>
  </body>
</div>
</header>
